.nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgba(229, 229, 229, 1);
    color: rgba(51, 51, 51, 1);
}

.nav a:not(:last-child) {
    margin-right: 30px;
}

.nav a {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(51, 51, 51, 1);
}

